@media screen and (max-width: 400px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    header .container {
        height: 40px;
    }

    .logo a {
        font-size: 20px;
    }

    .buttons {
        padding: 5px 20px;
        margin-left: 3px;
        font-size: 9px;
    }

    .cover {
        background-size: cover;
        height: 100px;
    }

    .cover img {
        width: 80%;
    }

    .projects p {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3px 18px;
        font-size: 13px;
    }

    .box-posts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .box-posts .tag {
        width: 80%;
        height: 250px;
        margin-bottom: 15px;
    }
    
    .box-posts .tag h3 {
        font-size: 17px;
    }

    .tag .post {
        width: 100%;
        height: 250px;
        margin: 0;
    }
    
    footer {
        font-size: 12px;
        margin-top: 50px;
        height: 40px;
    }

}

@media screen and (max-width: 800px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    header .container {
        height: 50px;
    }

    .logo a {
        font-size: 20px;
    }

    .buttons {
        padding: 8px 20px;
        margin-left: 3px;
        font-size: 11px;
    }

    .cover {
        background-size: cover;
        height: 100px;
    }

    .cover img {
        width: 60%;
    }

    .projects p {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 4px 28px;
        font-size: 14px;
    }

    .box-posts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .box-posts .tag {
        margin-bottom: 15px;
    }
    
    .box-posts .tag h3 {
        font-size: 17px;
    }

    .tag .post {
        width: 100%;
        height: 300px;
        margin: 0;
    }
    
    footer {
        font-size: 13px;
        margin-top: 50px;
        height: 50px;
    }

}
