:root {
    --branco: #FFFFFF;
    --cinza: #1A1A1A;
    --azul: #000028;
    --azul-claro: #000098;
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--branco);
    color: var(--branco);
    font-family: "Nunito", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--azul);
    height: 80px;
}

.logo a {
    color: var(--branco);
    font-family: 'Arial Black', sans-serif;
    font-size: 30px;
}

.buttons {
    padding: 10px 30px;
    border: none;
    margin-left: 7px;

    background-color: var(--azul-claro);
    color: var(--branco);
    border-radius: 25px;
    font-size: 18px;
}

.buttons:hover {
    background-color: var(--branco);
    color: var(--azul-claro);
}

.cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-size: cover;
    height: 200px;
    width: 100%;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 8px;
    background-color: var(--azul);
    color: var(--branco);
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 18px;
}

.box-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;

}

/* tag Front-end ou Back-end */
.box-posts .tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 177, 255);
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin: 7px;
}

.tag h3 {
    font-size: 20px;
}

/* Posts principais ou projetos */
.tag .post {
    display: flex;
    padding: 10px;
    
    justify-content: center;
    align-items: center;
    color: var(--branco);
    width: 100%;
    height: 300px;

    border-radius: 25px;
}

/* Rodapé */
footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 17px;
    background-color: var(--azul);
    height: 80px;
    
}

/* Ícone <3 do rodapé */
footer .fas {
    color: red;
}

/* Link para o perfil do Github */
footer a {
    color: rgb(141, 177, 255);
}

